---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-accent-500">
  <Wrapper variant="standard" class="py-24">
    <div
      class="flex flex-col flex-shrink-0 gap-8 md:flex-row md:gap-12 md:items-end"
    >
      <div>
        <div class="relative max-w-xs">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-accent-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-accent-500 pr-2 text-sm text-white font-medium"
              >Meer weten?</span
            >
          </div>
        </div>
        <Text
          tag="h2"
          variant="displayMD"
          class="tracking-tight text-white mt-24 text-balance"
        >
          Wat is jouw onderzoeksvraag? Neem betere beslissingen gebaseerd op
          scherper onderzoek.
        </Text>
        <Text
          tag="p"
          variant="textXL"
          class="text-accent-100 mt-8 text-balance"
        >
          Maak een afspraak. We stellen graag met jou het beste onderzoeksplan
          op.
        </Text>
      </div>
      <a
        title="Afspraak maken"
        aria-label="Afspraak maken"
        href="/contact"
        class="flex size-32 text-sm md:text-base lg:text-2xl xl:text-3xl text-center md:size-32 shrink-0 lg:size-52 2xl:size-64 text-accent-500 hover:bg-accent-900 hover:text-white duration-300 items-center justify-center rounded-full bg-white"
      >
        Afspraak maken
      </a>
    </div>
  </Wrapper>
</section>
