---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
// Components
import BlogCard2 from "@/components/blog/BlogCard2.astro";
import { getAllPosts } from "@/lib/data";
export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags ?? []).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag} seo={{ noindex: true }}>
  <section class="bg-white overflow-hidden relative">
    <Wrapper class="py-12 lg:pt-24">
      <div class="max-w-5xl mx-auto">
        <div class="w-full h-full">
          <Text
            tag="h1"
            variant="displayLG"
            class="tracking-tighter text-accent-800 text-balance"
          >
            {tag} artikelen
          </Text>
        </div>

        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-24 mt-24">
          {posts.map((post) => <BlogCard2 post={post} />)}
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
